
@model List< MvcApplication2.Models.Item>
@{
    ViewBag.Title = "recipies";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

	   @section Title
             {
                 <title>Food &amp; Home Page</title>
                 
                 }       

@section Header
{
    
    <a href="~/Home"><img src="~/images/logo.png" alt="Logo"></a>
    
      

    }  
@section Content
{
     <div class="body">
		<div>
			<div class="header">
		<ul>
					<li>
						<a href="~/Admin/Add">Add Items</a>
					</li>
					<li>
						<a href="~/Admin/EditItem">Edit Items</a>
					</li>
					<li>
						<a href="~/Admin/DelItem">Delete Items</a>
					</li>
					<li>
						<a href="~/Admin/ViewAllItems">Show All Recipes</a>
					</li>
					<li>
						<a href="~/Admin/search">Search</a>
					</li>
					
				</ul>
			</div>
                                @if(Model!=null)
{
 foreach(var x in Model)
 {
			<div class="body">
				<div id="content">

					<div>
						<ul>
							<li>
                                
								<img src="~/Files/@x.Path" alt="Image" width="150" height="150" />
                                    
								    <div class="extra-wrap" >
                                            	<h3>@x.Name</h3>
                                                <p class="p1">Quantity: @x.Quantity</p>
                                                <p class="p1">Price: Rs: @x.Price</p>
                                         @using (Html.BeginForm("Update", "Admin",FormMethod.Post))
                                                    {
                                                        @Html.Hidden("id", @x.IID);
                                                        <button type=" submit" >Update</button>
                                                    }
                                              
                                            </div>

							</li>
						</ul>
					</div>
				</div>
			</div>
                                }
                                }
                   
		</div>
		<div>
			<div>
				<h3>Cooking Video</h3>
				<a href="~/Recipes/Recipes"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
</div>
        </div>


    } 
	
	
	
	