@model  MvcApplication2.Models.Item
@{
    ViewBag.Title = "recipies";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

	   @section Title
             {
                 <title>Food &amp; Home Page</title>
                 
                 }       

@section Header
{
    
    <a href="~/Home"><img src="~/images/logo.png" alt="Logo"></a>
    
      

    }  
@section Content
{
   <div class="body">
		<div>
			<div class="header">
		<ul>
					<li>
						@Html.ActionLink("HOME", "Index","Home" ) 
					</li>
					<li>
						 @Html.ActionLink("RECIPIE BOOKS", "Recipes","Recipes" ) 
					</li>
					<li>
						@Html.ActionLink("UPLOAD PICTURES", "Upload","UploadPictures" ) 
					</li>
					<li>
						@Html.ActionLink("VIDEOS", "Videos","Videos" ) 
					</li>
					<li>
						 @Html.ActionLink("ABOUT", "About","About" ) 
					</li>
					
				</ul>
			</div>
@foreach(var x in ViewBag.x)
{
			<div class="body">
				<div id="content">

					<div>
						<ul>
							<li>
                                
								<img src="~/Files/@x.Path" alt="Image" width="130" height="150" />
                                    
								    <div class="extra-wrap" >
                                            	<h3>@x.Name</h3>
                                                <p class="p1">Quantity: @x.Quantity</p>
                                                <p class="p1">Price: Rs: @x.Price</p>
                                                

                                                
                                                    
                                                 
                                            </div>

							</li>
						</ul>
					</div>
				</div>
			</div>
                                }
                                
                   
		</div>
		<div>
			<div>
				<h3>Cooking Video</h3>
				<a href="~/Recipes/Recipes"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
	<div class="footer">
		<div>
			<p>
				&copy; Copyright 2012. All rights reserved
			</p>
		</div>
	</div>
</div>
        </div>


    } 
	
	
	
	