@model List< MvcApplication2.Models.Item>
@{
    ViewBag.Title = "recipies";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

	
	   @section Title
             {
                 <title>Food &amp; Home Page</title>
                 
                 }       

@section Header
{
    
    <a href="~/Home"><img src="~/images/logo.png" alt="Logo"></a>
    
      

    }  
@section Content
{
     	<div class="body">
		<div>
			<div class="header">
		<ul>
					<li>
						@Html.ActionLink("HOME", "Index","Home" ) 
					</li>
					<li>
						 @Html.ActionLink("RECIPIE BOOKS", "Recipes","Recipes" ) 
					</li>
					<li>
						@Html.ActionLink("UPLOAD PICTURES", "Upload","UploadPictures" ) 
					</li>
					<li>
						@Html.ActionLink("VIDEOS", "Videos","Videos" ) 
					</li>
					<li>
						 @Html.ActionLink("ABOUT", "About","About" ) 
					</li>
            <li>
						<a href="~/Admin/search">Search</a>
					</li>
					
				</ul>
			</div>
                                @if(Model!=null)
{
 foreach(var x in Model)
 {
			<div class="body">
				<div id="content">

					<div>
						<ul>
							<li>
                                
								<img src="~/Files/@x.Path" alt="Image" height="150" width="150" />
                                    
								    <div class="extra-wrap" >
                                            	<h3>@x.Name</h3>
                                                <p class="p1">Quantity: @x.Quantity</p>
                                                <p class="p1">Price: Rs: @x.Price</p>
                                              
                                            </div>

							</li>
						</ul>
					</div>
				</div>
			</div>
                                }
                                }
                   
		</div>
		<div>
			<div>
                	<div>
        <li>@Html.ActionLink("Sign Up", "SignUp","SignUp" )</li>
        <li>@Html.ActionLink("Admin Login", "Admin","Login" )</li>
                <li>@Html.ActionLink("User Login", "Index","Login" )</li>
			
				
    
			</div>
				<h3>Cooking Video</h3>
				<a href="~/Videos/Videos"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
</div>
        </div>


    } 
	
	
